/* Global */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: white;
}

a:hover {
    color: orange;
}

a:active {
    color: orangered;
}

/* Navbar */

header {
  max-width: 1200px;
  height: 50vh;
}

nav {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-content: space-between; 
    background-color: rgb(29, 28, 28);
}

.navbar {
  display: flex;
  align-items: center;
  
}

.nav-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2em;
  margin: 0 14px 0 7px;
}

.logo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
}

.container-hero {
  height: 50vh;
  background-color: rgb(216, 207, 207);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  flex: 4;
  border: 1px solid red;
  margin: 0 20px;
}

.box-left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  flex: 1;
  border: 1px solid red;

  margin: 0 20px;
}

.box-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  flex: 2;
  border: 1px solid red;

  margin: 0 20px;
}

.container-1 {
  height: auto;
  background-color: rgb(216, 207, 207);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.container-2 {
  height: 400px;
  background-color: rgb(216, 207, 207);
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 160px;
  margin: 10px;
  border: 1px solid red;
}
